<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bc.regiDemo.mapper.UserMapper">
	<insert id="register" parameterType="com.bc.regiDemo.vo.UserVO">
		insert into tbl_user
		(user_no, user_id, user_pw, user_name)
		values (seq_user.nextval, #{userId}, #{userPw}, #{userName})
	</insert>
</mapper>